Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2018-10, with the labels that each got.

#56 docs: Frontmatter fixes and enable website-test Make target in TravisCI
  .travis.yml
  GNUmakefile
  website/docs/d/images_image_v2.html.markdown
  website/docs/r/mrs_job_v1.html.markdown
Labels: size/S

#58 Add missing AS docs
  website/flexibleengine.erb
Labels: size/XS

#59 Bump acc timeout to 300m
  GNUmakefile
Labels: size/XS

#60 Use new AutoScaling client
  flexibleengine/config.go
  flexibleengine/provider_test.go
  flexibleengine/resource_flexibleengine_as_configuration_v1.go
  flexibleengine/resource_flexibleengine_as_configuration_v1_test.go
  flexibleengine/resource_flexibleengine_as_group_v1_test.go
  flexibleengine/resource_flexibleengine_as_policy_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/configurations/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/groups/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/instances/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/policies/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/vendor.json
Labels: size/M

#61 Unmask LB test precheck
  flexibleengine/provider_test.go
  flexibleengine/resource_flexibleengine_lb_certificate_v2_test.go
  flexibleengine/resource_flexibleengine_lb_listener_v2_test.go
  flexibleengine/resource_flexibleengine_lb_loadbalancer_v2_test.go
  flexibleengine/resource_flexibleengine_lb_member_v2_test.go
  flexibleengine/resource_flexibleengine_lb_monitor_v2_test.go
  flexibleengine/resource_flexibleengine_lb_pool_v2_test.go
Labels: size/M

#62 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#63 Update LB docs
  website/docs/r/lb_loadbalancer_v2.html.markdown
  website/flexibleengine.erb
Labels: size/XS
