Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2018-12, with the labels that each got.

#71 Fix dns doc
  flexibleengine/resource_flexibleengine_dns_recordset_v2.go
  flexibleengine/resource_flexibleengine_dns_recordset_v2_test.go
  flexibleengine/resource_flexibleengine_dns_zone_v2.go
  flexibleengine/resource_flexibleengine_dns_zone_v2_test.go
  flexibleengine/types.go
  flexibleengine/util.go
  website/docs/r/dns_recordset_v2.html.markdown
  website/docs/r/dns_zone_v2.html.markdown
Labels: size/XL

#73 remove UNKNOWN status to avoid error when subnet creation is too long
  flexibleengine/resource_flexibleengine_vpc_subnet_v1.go
Labels: size/XS

#76 Add DCS Service
  flexibleengine/config.go
  flexibleengine/data_source_flexibleengine_dcs_az_v1.go
  flexibleengine/data_source_flexibleengine_dcs_az_v1_test.go
  flexibleengine/data_source_flexibleengine_dcs_maintainwindow_v1.go
  flexibleengine/data_source_flexibleengine_dcs_maintainwindow_v1_test.go
  flexibleengine/data_source_flexibleengine_dcs_product_v1.go
  flexibleengine/data_source_flexibleengine_dcs_product_v1_test.go
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_dcs_instance_v1.go
  flexibleengine/resource_flexibleengine_dcs_instance_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/availablezones/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/availablezones/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/availablezones/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/instances/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/instances/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/instances/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/maintainwindows/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/maintainwindows/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/maintainwindows/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/products/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/products/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/products/urls.go
  vendor/vendor.json
  website/docs/d/dcs_az_v1.html.markdown
  website/docs/d/dcs_maintainwindow_v1.html.markdown
  website/docs/d/dcs_product_v1.html.markdown
  website/docs/r/dcs_instance_v1.html.markdown
  website/flexibleengine.erb
Labels: dependencies, documentation, size/XXL

#77 Make OS_ACCESS_KEY and OS_SECRET_KEY only required for s3 acc tests
  flexibleengine/provider_test.go
  flexibleengine/resource_flexibleengine_s3_bucket_object_test.go
  flexibleengine/resource_flexibleengine_s3_bucket_policy_test.go
  flexibleengine/resource_flexibleengine_s3_bucket_test.go
Labels: size/S

#78 Bump acc test timeout to 360m
  GNUmakefile
Labels: size/XS

#81 Add PostgreSQL support to RDS
  flexibleengine/resource_flexibleengine_rds_instance_v1_test.go
  website/docs/r/rds_instance_v1.html.markdown
Labels: documentation, size/M

#82 Suppress rds name changes
  flexibleengine/diff_suppress_funcs.go
  flexibleengine/resource_flexibleengine_rds_instance_v1.go
  flexibleengine/resource_flexibleengine_rds_instance_v1_test.go
  website/docs/r/rds_instance_v1.html.markdown
Labels: documentation, size/XS

#84 Fix smn upadte error
  flexibleengine/resource_flexibleengine_smn_topic_v2.go
Labels: size/XS

#85 Add check for elb listener certificate_id
  flexibleengine/resource_flexibleengine_elb_listener.go
  flexibleengine/util.go
Labels: size/XS

#86 Update firewall docs to V2
  website/docs/r/fw_firewall_group_v2.html.markdown
  website/docs/r/fw_policy_v2.html.markdown
  website/docs/r/fw_rule_v2.html.markdown
Labels: documentation, size/XS

#89 Add volume_type to resource documentation
  website/docs/r/compute_instance_v2.html.markdown
Labels: documentation, size/XS

#91 Expose real error message of BadRequest error
  vendor/github.com/huaweicloud/golangsdk/errors.go
  vendor/github.com/huaweicloud/golangsdk/provider_client.go
  vendor/github.com/huaweicloud/golangsdk/signer_helper.go
  vendor/vendor.json
Labels: dependencies, size/XS

#92 Fix some docs issue
  website/docs/r/ces_alarmrule.html.markdown
  website/docs/r/compute_instance_v2.html.markdown
  website/docs/r/lb_listener_v2.html.markdown
Labels: documentation, size/XS

#93 Some parameters should be computed as they are optional
  flexibleengine/resource_flexibleengine_elb_listener.go
Labels: size/XS

#95 Update RDS doc for flavor ha speccode
  website/docs/r/rds_instance_v1.html.markdown
Labels: documentation, size/XS

#98 Suppress sfs system metadata
  flexibleengine/resource_flexibleengine_sfs_file_system_v2.go
Labels: size/XS
