Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2018-11, with the labels that each got.

#67 Fix elb docs
  website/docs/r/elb_health.html.markdown
Labels: size/XS

#68 Update docs
  website/docs/r/compute_floatingip_associate_v2.html.markdown
  website/docs/r/networking_floatingip_v2.html.markdown
  website/docs/r/vpc_eip_v1.html.markdown
Labels: size/S

#66 Add Antiddos service
  examples/antiddos.tf
  flexibleengine/config.go
  flexibleengine/import_flexibleengine_antiddos_v1_test.go
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_antiddos_v1.go
  flexibleengine/resource_flexibleengine_antiddos_v1_test.go
  flexibleengine/validators.go
  vendor/github.com/huaweicloud/golangsdk/openstack/antiddos/v1/antiddos/API-cn.md
  vendor/github.com/huaweicloud/golangsdk/openstack/antiddos/v1/antiddos/API-en.md
  vendor/github.com/huaweicloud/golangsdk/openstack/antiddos/v1/antiddos/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/antiddos/v1/antiddos/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/antiddos/v1/antiddos/url.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/vendor.json
  website/docs/r/antiddos_v1.html.markdown
  website/flexibleengine.erb
Labels: size/XXL
