Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2019-10, with the labels that each got.

#259 Prepare to SDK migration
  flexibleengine/config.go
  flexibleengine/provider.go
Labels: size/XS

#261 Log fault message when build compute instance failed
  flexibleengine/resource_flexibleengine_compute_instance_v2.go
Labels: size/XS

#264 fixing RDS Microsoft SQL Server example values
  website/docs/r/rds_instance_v3.html.markdown
Labels: documentation, size/XS

#265 Rename subnet_id argument to network_id for dcs_instance
  flexibleengine/resource_flexibleengine_dcs_instance_v1.go
  flexibleengine/resource_flexibleengine_dcs_instance_v1_test.go
  website/docs/r/dcs_instance_v1.html.markdown
Labels: documentation, size/S

#266 Add LB Whitelist
  flexibleengine/diff_suppress_funcs.go
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_lb_whitelist_v2.go
  flexibleengine/resource_flexibleengine_lb_whitelist_v2_test.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/whitelists/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/whitelists/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/whitelists/urls.go
  vendor/modules.txt
  website/docs/r/lb_whitelist_v2.html.markdown
  website/flexibleengine.erb
Labels: dependencies, documentation, size/XL

#267 Fix ip/port attribute issue
  flexibleengine/resource_flexibleengine_dcs_instance_v1.go
Labels: size/XS

#268 Add certificates information to cce cluster
  flexibleengine/resource_flexibleengine_cce_cluster_v3.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/urls.go
  vendor/modules.txt
  website/docs/r/cce_cluster_v3.html.md
Labels: dependencies, documentation, size/L

#269 Add eip support for cce cluster
  flexibleengine/resource_flexibleengine_cce_cluster_v3.go
  flexibleengine/resource_flexibleengine_cce_cluster_v3_test.go
  website/docs/r/cce_cluster_v3.html.md
Labels: documentation, size/XS

#270 Updating 'cluster_version' authorized values
  website/docs/r/cce_cluster_v3.html.md
Labels: documentation, size/XS

#271 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS
