Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2019-04, with the labels that each got.

#149 Add KMS service
  flexibleengine/config.go
  flexibleengine/data_source_flexibleengine_kms_data_key_v1.go
  flexibleengine/data_source_flexibleengine_kms_data_key_v1_test.go
  flexibleengine/data_source_flexibleengine_kms_key_v1.go
  flexibleengine/data_source_flexibleengine_kms_key_v1_test.go
  flexibleengine/import_flexibleengine_kms_key_v1_test.go
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_kms_key_v1.go
  flexibleengine/resource_flexibleengine_kms_key_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/kms/v1/keys/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/kms/v1/keys/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/kms/v1/keys/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/kms/v1/keys/urls.go
  vendor/modules.txt
  website/docs/d/kms_data_key_v1.html.markdown
  website/docs/d/kms_key_v1.html.markdown
  website/docs/r/kms_key_v1.html.markdown
  website/flexibleengine.erb
Labels: dependencies, documentation, size/XXL

#150 Update EVS docs with KMS key
  website/docs/r/blockstorage_volume_v2.html.markdown
Labels: documentation, size/XS

#152 Add compute interface attach support
  flexibleengine/compute_interface_attach_v2.go
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_compute_interface_attach_v2.go
  flexibleengine/resource_flexibleengine_compute_interface_attach_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/attachinterfaces/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/attachinterfaces/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/attachinterfaces/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/attachinterfaces/urls.go
  vendor/modules.txt
  website/docs/r/compute_interface_attach_v2.html.markdown
  website/flexibleengine.erb
Labels: dependencies, documentation, size/XL

#156 Add volume extending support
  flexibleengine/resource_flexibleengine_blockstorage_volume_v2.go
  flexibleengine/resource_flexibleengine_blockstorage_volume_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/blockstorage/extensions/volumeactions/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/blockstorage/extensions/volumeactions/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/blockstorage/extensions/volumeactions/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/blockstorage/extensions/volumeactions/urls.go
  vendor/modules.txt
  website/docs/r/blockstorage_volume_v2.html.markdown
Labels: dependencies, documentation, size/XL

#157 Update as_group documentation
  website/docs/r/as_group_v1.html.markdown
Labels: documentation, size/XS

#153 Add dnat resource
  flexibleengine/config.go
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_nat_dnat_rule_v2.go
  flexibleengine/resource_flexibleengine_nat_dnat_rule_v2_test.go
  flexibleengine/transport.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/modules.txt
  website/docs/r/nat_dnat_rule_v2.html.markdown
  website/flexibleengine.erb
Labels: dependencies, documentation, size/XL

#159 Fix import dnat resource error
  flexibleengine/resource_flexibleengine_nat_dnat_rule_v2.go
Labels: size/XS

#160 Fix DNAT docs issue
  website/docs/r/nat_dnat_rule_v2.html.markdown
Labels: documentation, size/XS

#161 Add dnat rule import test
  flexibleengine/import_flexibleengine_nat_dnat_rule_v2_test.go
Labels: size/XS

#163 Add instance auto_recovery support
  flexibleengine/config.go
  flexibleengine/golangsdk_utils.go
  flexibleengine/resource_flexibleengine_compute_instance_v2.go
  flexibleengine/resource_flexibleengine_compute_instance_v2_test.go
  flexibleengine/resource_flexibleengine_ecs_auto_recovery_v1.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/auto_recovery/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/auto_recovery/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/auto_recovery/urls.go
  vendor/modules.txt
  website/docs/r/compute_instance_v2.html.markdown
Labels: dependencies, documentation, size/L

#164 Update docs for authentication
  website/docs/index.html.markdown
Labels: documentation, size/XS

#166 Fix LB Listener docs
  website/docs/r/lb_listener_v2.html.markdown
Labels: documentation, size/XS

#167 Fix CCE node data source with node_id
  flexibleengine/data_source_flexibleengine_cce_node_v3_test.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/nodes/requests.go
  vendor/modules.txt
Labels: dependencies, size/XS

#168 Remove Abnormal from cce node creating target state
  flexibleengine/resource_flexibleengine_cce_node_v3.go
Labels: size/XS

#169 Fix LB Pool stuck issue
  flexibleengine/resource_flexibleengine_lb_pool_v2.go
Labels: size/XS

#170 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#172 Add lbaas_listeners support to as_group
  flexibleengine/resource_flexibleengine_as_group_v1.go
  flexibleengine/resource_flexibleengine_as_group_v1_test.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/groups/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/groups/results.go
  vendor/modules.txt
  website/docs/r/as_group_v1.html.markdown
Labels: dependencies, documentation, size/M

#173 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS
