Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2019-12, with the labels that each got.

#281 Add LB Certificate data source
  flexibleengine/data_source_flexibleengine_lb_certificates_v2.go
  flexibleengine/data_source_flexibleengine_lb_certificates_v2_test.go
  flexibleengine/provider.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/certificates/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/certificates/results.go
  vendor/modules.txt
  website/docs/d/lb_certificate_v2.html.markdown
  website/flexibleengine.erb
Labels: dependencies, documentation, size/XL

#282 Support 'tls_ciphers_policy' in flexibleengine_lb_listener_v2 resource
  flexibleengine/resource_flexibleengine_lb_listener_v2.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/listeners/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/listeners/results.go
  vendor/modules.txt
  website/docs/r/lb_listener_v2.html.markdown
Labels: dependencies, documentation, size/M

#283 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS
