Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2019-01, with the labels that each got.

#99 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#102 Update golangsdk to fix ak/sk issue
  CHANGELOG.md
  vendor/github.com/huaweicloud/golangsdk/auth_aksk_options.go
  vendor/github.com/huaweicloud/golangsdk/auth_options.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/domains/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/domains/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/domains/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/domains/urls.go
  vendor/github.com/huaweicloud/golangsdk/provider_client.go
  vendor/vendor.json
Labels: dependencies, size/XL

#101 Fix dns records update error
  flexibleengine/resource_flexibleengine_dns_recordset_v2.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dns/v2/recordsets/requests.go
  vendor/vendor.json
Labels: dependencies, size/XS

#103 Fix DNS entries re-sort issue
  flexibleengine/import_flexibleengine_dns_recordset_v2_test.go
  flexibleengine/resource_flexibleengine_dns_recordset_v2.go
  flexibleengine/resource_flexibleengine_dns_recordset_v2_test.go
Labels: size/XS

#104 [docs] Remember to close the fenced code block
  website/docs/d/s3_bucket_object.html.markdown
Labels: documentation, size/XS

#105 Add CCE Service
  flexibleengine/config.go
  flexibleengine/data_source_flexibleengine_cce_cluster_v3.go
  flexibleengine/data_source_flexibleengine_cce_cluster_v3_test.go
  flexibleengine/data_source_flexibleengine_cce_node_v3.go
  flexibleengine/data_source_flexibleengine_cce_node_v3_test.go
  flexibleengine/import_flexibleengine_cce_cluster_test.go
  flexibleengine/provider.go
  flexibleengine/provider_test.go
  flexibleengine/resource_flexibleengine_cce_cluster_v3.go
  flexibleengine/resource_flexibleengine_cce_cluster_v3_test.go
  flexibleengine/resource_flexibleengine_cce_node_v3.go
  flexibleengine/resource_flexibleengine_cce_node_v3_test.go
  flexibleengine/resource_flexibleengine_csbs_backup_v1.go
  flexibleengine/resource_flexibleengine_dcs_instance_v1.go
  flexibleengine/resource_flexibleengine_vbs_backup_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/nodes/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/nodes/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/nodes/urls.go
  vendor/vendor.json
  website/docs/d/cce_cluster_v3.html.md
  website/docs/d/cce_nodes_v3.html.md
  website/docs/r/cce_cluster_v3.html.md
  website/docs/r/cce_nodes_v3.html.md
  website/flexibleengine.erb
Labels: dependencies, documentation, size/XXL

#106 Update some docs
  website/docs/r/ces_alarmrule.html.markdown
  website/docs/r/dcs_instance_v1.html.markdown
Labels: documentation, size/S

#107 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#111 Add forcenew in dcs
  flexibleengine/resource_flexibleengine_dcs_instance_v1.go
  website/docs/r/dcs_instance_v1.html.markdown
Labels: documentation, size/S
