Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2019-05, with the labels that each got.

#174 Fix CCE cluster acc tests
  flexibleengine/resource_flexibleengine_cce_cluster_v3.go
Labels: size/XS

#177 Fix CCE cluster import test
  flexibleengine/import_flexibleengine_cce_cluster_test.go
Labels: size/XS

#180 Update cce_cluster_v3.html.md
  website/docs/r/cce_cluster_v3.html.md
Labels: documentation, size/XS

#186 Terraform v0.12 TypeMap Fixes
  flexibleengine/data_source_flexibleengine_compute_bms_nic_v2_test.go
  flexibleengine/data_source_flexibleengine_compute_bms_server_v2_test.go
  flexibleengine/data_source_flexibleengine_csbs_backup_policy_v1_test.go
  flexibleengine/data_source_flexibleengine_csbs_backup_v1_test.go
  flexibleengine/resource_flexibleengine_blockstorage_volume_v2_test.go
  flexibleengine/resource_flexibleengine_compute_bms_server_v2_test.go
  flexibleengine/resource_flexibleengine_compute_instance_v2_test.go
  flexibleengine/resource_flexibleengine_csbs_backup_policy_v1_test.go
  flexibleengine/resource_flexibleengine_csbs_backup_v1_test.go
  flexibleengine/resource_flexibleengine_nat_dnat_rule_v2_test.go
  website/docs/r/blockstorage_volume_v2.html.markdown
  website/docs/r/compute_bms_server_v2.html.markdown
  website/docs/r/compute_instance_v2.html.markdown
Labels: documentation, size/S

#187 Update README for terraform 0.12
  README.md
Labels: size/XS

#188 Fix arguments/attributes declaration with terraform 0.12
  flexibleengine/resource_flexibleengine_as_configuration_v1_test.go
  flexibleengine/resource_flexibleengine_as_group_v1_test.go
  flexibleengine/resource_flexibleengine_as_policy_v1_test.go
  flexibleengine/resource_flexibleengine_rds_instance_v1_test.go
  website/docs/r/as_configuration_v1.html.markdown
  website/docs/r/as_group_v1.html.markdown
  website/docs/r/as_policy_v1.html.markdown
  website/docs/r/rds_instance_v1.html.markdown
Labels: documentation, size/M
