Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2019-11, with the labels that each got.

#272 Update "github.com/Unknwon/com" to "github.com/unknwon/com"
  flexibleengine/util.go
  go.mod
  go.sum
  vendor/github.com/Unknwon/com/.travis.yml
  vendor/github.com/unknwon/com/.gitignore
  vendor/github.com/unknwon/com/.travis.yml
  vendor/github.com/unknwon/com/LICENSE
  vendor/github.com/unknwon/com/README.md
  vendor/github.com/unknwon/com/cmd.go
  vendor/github.com/unknwon/com/convert.go
  vendor/github.com/unknwon/com/dir.go
  vendor/github.com/unknwon/com/file.go
  vendor/github.com/unknwon/com/go.mod
  vendor/github.com/unknwon/com/go.sum
  vendor/github.com/unknwon/com/html.go
  vendor/github.com/unknwon/com/http.go
  vendor/github.com/unknwon/com/math.go
  vendor/github.com/unknwon/com/path.go
  vendor/github.com/unknwon/com/regex.go
  vendor/github.com/unknwon/com/slice.go
  vendor/github.com/unknwon/com/string.go
  vendor/github.com/unknwon/com/time.go
  vendor/github.com/unknwon/com/url.go
  vendor/modules.txt
Labels: dependencies, size/L

#274 fixing attribute reference,
  website/docs/r/cce_cluster_v3.html.md
Labels: documentation, size/XS

#278 Add security_token option for OBS federated authentication
  flexibleengine/auth_helpers.go
  flexibleengine/config.go
  flexibleengine/provider.go
  website/docs/index.html.markdown
Labels: documentation, size/S
