Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2020-01, with the labels that each got.

#286 Add Computed on annotations and labels for cce_node
  flexibleengine/resource_flexibleengine_cce_node_v3.go
Labels: size/XS

#287 Add SDRS resource support
  flexibleengine/config.go
  flexibleengine/data_source_flexibleengine_sdrs_domain_v1.go
  flexibleengine/data_source_flexibleengine_sdrs_domain_v1_test.go
  flexibleengine/provider.go
  flexibleengine/provider_test.go
  flexibleengine/resource_flexibleengine_sdrs_protectiongroup_v1.go
  flexibleengine/resource_flexibleengine_sdrs_protectiongroup_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/domains/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/domains/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/domains/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/protectiongroups/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/protectiongroups/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/protectiongroups/results_job.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/protectiongroups/urls.go
  vendor/modules.txt
  website/docs/d/sdrs_domain_v1.html.markdown
  website/docs/r/sdrs_protectiongroup_v1.html.markdown
  website/flexibleengine.erb
Labels: dependencies, documentation, size/XL

#288 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#289 Add flexibleengine_sdrs_replication_pair_v1 resource and docs
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_sdrs_replication_pair_v1.go
  flexibleengine/resource_flexibleengine_sdrs_replication_pair_v1_test.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/replications/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/replications/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/replications/results_job.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/replications/urls.go
  vendor/github.com/huaweicloud/golangsdk/service_client.go
  vendor/modules.txt
  website/docs/r/sdrs_replication_pair_v1.html.markdown
  website/flexibleengine.erb
Labels: dependencies, documentation, size/XL

#290 Add SDRS protected instances support
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_sdrs_protectedinstance_v1.go
  flexibleengine/resource_flexibleengine_sdrs_protectedinstance_v1_test.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/protectedinstances/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/protectedinstances/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/protectedinstances/results_job.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/protectedinstances/urls.go
  vendor/modules.txt
  website/docs/r/sdrs_protectedinstance_v1.html.markdown
  website/flexibleengine.erb
Labels: dependencies, documentation, size/XL

#292 Add flexibleengine_sdrs_drill_v1 resource and docs
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_sdrs_drill.go
  flexibleengine/resource_flexibleengine_sdrs_drill_test.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/drill/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/drill/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/drill/results_job.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/drill/urls.go
  vendor/modules.txt
  website/docs/r/sdrs_drill_v1.html.markdown
  website/flexibleengine.erb
Labels: dependencies, documentation, size/XL

#293 Fix SDRS protectedinstance delete issue
  flexibleengine/resource_flexibleengine_sdrs_protectedinstance_v1.go
  flexibleengine/resource_flexibleengine_sdrs_protectedinstance_v1_test.go
  website/docs/r/sdrs_protectedinstance_v1.html.markdown
Labels: documentation, size/XS

#294 Update CHANGELOG
  CHANGELOG.md
  flexibleengine/resource_flexibleengine_sdrs_drill_test.go
Labels: size/XS
