Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2020-08, with the labels that each got.

#368 Add css snapshot resource and docs
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_css_snapshot_v1.go
  flexibleengine/resource_flexibleengine_css_snapshot_v1_test.go
  website/docs/r/css_snapshot_v1.html.markdown
  website/flexibleengine.erb
Labels: documentation, size/XL

#369 update golangsdk to fix css issue
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/css/v1/snapshots/requests.go
  vendor/modules.txt
Labels: dependencies, size/XS

#373 [compute] get instance nics within same network name
  flexibleengine/compute_instance_v2_networking.go
Labels: size/M

#374 make authenticate in the order of token, password and aksk
  flexibleengine/config.go
  website/docs/index.html.markdown
Labels: documentation, size/XS

#375 set 'access_to' to be optional in sfs file system
  flexibleengine/resource_flexibleengine_sfs_file_system_v2.go
  flexibleengine/resource_flexibleengine_sfs_file_system_v2_test.go
  website/docs/r/sfs_file_system_v2.html.md
Labels: documentation, size/XL

#377 Add sfs access rule resource and docs
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_sfs_access_rule_v2.go
  flexibleengine/resource_flexibleengine_sfs_access_rule_v2_test.go
  website/docs/r/sfs_access_rule_v2.html.md
  website/docs/r/sfs_file_system_v2.html.md
  website/flexibleengine.erb
Labels: documentation, size/XL

#378 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#379 change requirement of Terraform Version from 0.10+ to 0.12.x
  README.md
Labels: size/XS

#380 update description of allowed_address_pairs in networking port resource
  website/docs/r/networking_port_v2.html.markdown
Labels: documentation, size/S

#382 improve for ces alarmrule
  flexibleengine/resource_flexibleengine_ces_alarmrule.go
  flexibleengine/resource_flexibleengine_ces_alarmrule_test.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/cloudeyeservice/alarmrule/requests.go
  vendor/modules.txt
  website/docs/r/ces_alarmrule.html.markdown
  website/flexibleengine.erb
Labels: dependencies, documentation, size/L

#384 Add sfs turbo resource and docs
  flexibleengine/config.go
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_sfs_turbo.go
  flexibleengine/resource_flexibleengine_sfs_turbo_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sfs_turbo/v1/shares/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sfs_turbo/v1/shares/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sfs_turbo/v1/shares/urls.go
  vendor/modules.txt
  website/docs/r/sfs_turbo.html.markdown
  website/flexibleengine.erb
Labels: dependencies, documentation, size/XL

#385 support associate volumes, week_frequency and rentention_day in vbs backup policy
  flexibleengine/resource_flexibleengine_vbs_backup_policy_v2.go
  flexibleengine/resource_flexibleengine_vbs_backup_policy_v2_test.go
  website/docs/r/vbs_backup_policy_v2.html.markdown
Labels: documentation, size/XL

#386 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS
