Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2020-04, with the labels that each got.

#320 add rds_read_replica_v3 resource and docs
  flexibleengine/config.go
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_rds_instance_v3.go
  flexibleengine/resource_flexibleengine_rds_read_replica_v3.go
  flexibleengine/resource_flexibleengine_rds_read_replica_v3_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/rds/v3/instances/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/rds/v3/instances/urls.go
  website/docs/r/rds_read_replica_v3.html.markdown
  website/flexibleengine.erb
Labels: dependencies, documentation, size/XXL

#325 pass cluster_type through to mrs API even it set to 0
  flexibleengine/resource_flexibleengine_mrs_cluster_v1.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/mrs/v1/cluster/requests.go
  vendor/modules.txt
  website/docs/r/mrs_cluster_v1.html.markdown
Labels: dependencies, documentation, size/M

#327 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS
