Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2020-07, with the labels that each got.

#346 set sensitive flag for password parameter
  flexibleengine/resource_flexibleengine_dcs_instance_v1.go
  flexibleengine/resource_flexibleengine_dds_instance_v3.go
  flexibleengine/resource_flexibleengine_mls_instance_v1.go
  flexibleengine/resource_flexibleengine_rds_instance_v3.go
Labels: size/S

#348 add port and nodes attributes for dds instance
  flexibleengine/resource_flexibleengine_dds_instance_v3.go
  website/docs/r/dds_instance_v3.html.markdown
Labels: documentation, size/M

#350 Adding “v1.15.6-r1” in the cluster_version
  website/docs/r/cce_cluster_v3.html.md
Labels: documentation, size/XS

#352 raising an exception when creating client failed
  flexibleengine/data_source_flexibleengine_vpc_peering_connection_v2.go
  flexibleengine/data_source_flexibleengine_vpc_route_ids_v2.go
  flexibleengine/data_source_flexibleengine_vpc_route_v2_.go
  flexibleengine/data_source_flexibleengine_vpc_subnet_ids_v1.go
  flexibleengine/data_source_flexibleengine_vpc_subnet_v1.go
  flexibleengine/data_source_flexibleengine_vpc_v1.go
Labels: size/XS

#355 improvement on for flexibleengine config
  flexibleengine/config.go
  website/docs/index.html.markdown
Labels: documentation, size/L

#356 Add iam user and group resources and docs
  flexibleengine/config.go
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_identity_group_membership_v3.go
  flexibleengine/resource_flexibleengine_identity_group_membership_v3_test.go
  flexibleengine/resource_flexibleengine_identity_group_v3.go
  flexibleengine/resource_flexibleengine_identity_group_v3_test.go
  flexibleengine/resource_flexibleengine_identity_user_v3.go
  flexibleengine/resource_flexibleengine_identity_user_v3_test.go
  flexibleengine/structure.go
  go.mod
  go.sum
  vendor/github.com/apparentlymart/go-textseg/textseg/make_tables.go
  vendor/github.com/apparentlymart/go-textseg/textseg/make_test_tables.go
  vendor/github.com/hashicorp/hcl2/hcl/hclsyntax/expression_vars_gen.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/groups/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/groups/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/groups/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/groups/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/users/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/users/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/users/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/users/urls.go
  vendor/github.com/ulikunitz/xz/example.go
  vendor/golang.org/x/sys/unix/mkasm_darwin.go
  vendor/golang.org/x/sys/unix/mkpost.go
  vendor/golang.org/x/sys/unix/mksyscall.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc64.go
  vendor/golang.org/x/sys/unix/mksyscall_solaris.go
  vendor/golang.org/x/sys/unix/mksysctl_openbsd.go
  vendor/golang.org/x/sys/unix/mksysnum.go
  vendor/golang.org/x/sys/unix/types_aix.go
  vendor/golang.org/x/sys/unix/types_darwin.go
  vendor/golang.org/x/sys/unix/types_dragonfly.go
  vendor/golang.org/x/sys/unix/types_freebsd.go
  vendor/golang.org/x/sys/unix/types_netbsd.go
  vendor/golang.org/x/sys/unix/types_openbsd.go
  vendor/golang.org/x/sys/unix/types_solaris.go
  vendor/golang.org/x/text/unicode/bidi/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen_ranges.go
  vendor/golang.org/x/text/unicode/bidi/gen_trieval.go
  vendor/golang.org/x/text/unicode/norm/maketables.go
  vendor/golang.org/x/text/unicode/norm/triegen.go
  vendor/modules.txt
  website/docs/r/identity_group_membership_v3.html.markdown
  website/docs/r/identity_group_v3.html.markdown
  website/docs/r/identity_user_v3.html.markdown
  website/flexibleengine.erb
Labels: dependencies, size/XXL

#358 Add data source and resource of iam role
  flexibleengine/data_source_flexibleengine_identity_project_v3.go
  flexibleengine/data_source_flexibleengine_identity_project_v3_test.go
  flexibleengine/data_source_flexibleengine_identity_role_v3.go
  flexibleengine/data_source_flexibleengine_identity_role_v3_test.go
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_identity_role_assignment_v3.go
  flexibleengine/resource_flexibleengine_identity_role_assignment_v3_test.go
  flexibleengine/resource_flexibleengine_identity_role_v3.go
  flexibleengine/resource_flexibleengine_identity_role_v3_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/roles/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/roles/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/roles/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/roles/urls.go
  vendor/modules.txt
  website/docs/d/identity_project_v3.html.markdown
  website/docs/d/identity_role_v3.html.markdown
  website/docs/r/identity_role_assignment_v3.html.markdown
  website/docs/r/identity_role_v3.html.markdown
  website/flexibleengine.erb
Labels: dependencies, documentation, size/XXL

#359 Add identity agency resource and docs
  flexibleengine/provider.go
  flexibleengine/provider_test.go
  flexibleengine/resource_flexibleengine_identity_agency_v3.go
  flexibleengine/resource_flexibleengine_identity_agency_v3_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/agency/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/agency/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/agency/urls.go
  vendor/modules.txt
  website/docs/r/identity_agency_v3.html.markdown
  website/flexibleengine.erb
Labels: dependencies, documentation, size/XL

#361 improvement on css cluster resource
  flexibleengine/custom_functions.go
  flexibleengine/resource_flexibleengine_css_cluster_v1.go
  flexibleengine/resource_flexibleengine_css_cluster_v1_test.go
  website/docs/r/css_cluster_v1.html.markdown
Labels: documentation, size/M

#360 Optimize DCS input parameters
  flexibleengine/resource_flexibleengine_dcs_instance_v1.go
  flexibleengine/resource_flexibleengine_dcs_instance_v1_test.go
  website/docs/r/dcs_instance_v1.html.markdown
Labels: documentation, size/L

#362 improvement on css cluster resource
  flexibleengine/custom_functions.go
  flexibleengine/resource_flexibleengine_css_cluster_v1.go
  flexibleengine/resource_flexibleengine_css_cluster_v1_test.go
  flexibleengine/tags.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/common/tags/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/common/tags/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/common/tags/urls.go
  vendor/modules.txt
  website/docs/r/css_cluster_v1.html.markdown
Labels: dependencies, documentation, size/XL

#363 Add mrs hybrid cluster resource
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_mrs_hybrid_cluster_v1.go
  flexibleengine/resource_flexibleengine_mrs_hybrid_cluster_v1_test.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/mrs/v1/cluster/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/mrs/v1/cluster/results.go
  vendor/modules.txt
Labels: dependencies, size/XL

#364 update docs of css cluster resource
  website/docs/r/css_cluster_v1.html.markdown
Labels: documentation, size/XS

#366 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#365 Add mrs hybrid cluster markdown
  website/docs/r/mrs_hybrid_cluster_v1.html.markdown
  website/flexibleengine.erb
Labels: documentation, size/L

#367 Make backup_strategy updatable in css cluster
  flexibleengine/resource_flexibleengine_css_cluster_v1.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/css/v1/snapshots/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/css/v1/snapshots/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/css/v1/snapshots/urls.go
  vendor/modules.txt
  website/docs/r/css_cluster_v1.html.markdown
Labels: dependencies, documentation, size/XL
