Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2020-02, with the labels that each got.

#291 fix argument reference for a better user experience
  website/docs/r/nat_gateway_v2.html.markdown
Labels: documentation, size/XS

#298 Fix Provider docs with token issue
  website/docs/index.html.markdown
Labels: documentation, size/XS

#300 Add SDRS replication attach support
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_sdrs_replication_attach_v1.go
  flexibleengine/resource_flexibleengine_sdrs_replication_attach_v1_test.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/attachreplication/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/attachreplication/results_job.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/attachreplication/urls.go
  vendor/modules.txt
  website/docs/r/sdrs_replication_attach_v1.html.markdown
  website/flexibleengine.erb
Labels: dependencies, documentation, size/XL

#302 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#301 Update mrs_cluster_v1.html.markdown
  website/docs/r/mrs_cluster_v1.html.markdown
Labels: documentation, size/XS

#304 Add SDRS protectiongroup enable/disable action
  flexibleengine/resource_flexibleengine_sdrs_protectiongroup_v1.go
  flexibleengine/resource_flexibleengine_sdrs_protectiongroup_v1_test.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/protectiongroups/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/protectiongroups/results_job.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/protectiongroups/urls.go
  vendor/modules.txt
  website/docs/r/sdrs_protectiongroup_v1.html.markdown
Labels: dependencies, documentation, size/L

#305 Add CCE node preinstall/postinstall script support
  flexibleengine/resource_flexibleengine_cce_node_v3.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/modules.txt
  website/docs/r/cce_nodes_v3.html.md
Labels: dependencies, documentation, size/S

#306 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#309 Update max EIP bandwidth
  website/docs/r/vpc_eip_v1.html.markdown
Labels: documentation, size/XS

#310 Bugfix for cce_node and snat_rule
  flexibleengine/resource_flexibleengine_cce_node_v3.go
  flexibleengine/resource_flexibleengine_nat_snat_rule_v2.go
  website/docs/r/cce_nodes_v3.html.md
  website/docs/r/nat_snat_rule_v2.html.markdown
Labels: documentation, size/M

#313 Update test case for data.flexibleengine_networking_network_v2
  flexibleengine/data_source_flexibleengine_networking_network_v2.go
  flexibleengine/data_source_flexibleengine_networking_network_v2_test.go
Labels: size/M
