Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2020-05, with the labels that each got.

#326 Update dcs_instance_v1.html.markdown
  website/docs/r/dcs_instance_v1.html.markdown
Labels: documentation, size/S

#330 Fix DDS instance create issue
  flexibleengine/resource_flexibleengine_dds_instance_v3_test.go
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/dds/v3/instances/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/vbs/v2/policies/requests.go
  vendor/modules.txt
Labels: dependencies, size/XS

#331 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#335 fixing format for tf v0.12 and router=vpc
  website/docs/r/dns_zone_v2.html.markdown
Labels: documentation, size/XS
