Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2020-06, with the labels that each got.

#338 cancel validation of storage_class in obs bucket and object
  flexibleengine/resource_flexibleengine_obs_bucket.go
  flexibleengine/resource_flexibleengine_obs_bucket_object.go
  flexibleengine/resource_flexibleengine_obs_bucket_test.go
  website/docs/r/obs_bucket.html.markdown
Labels: documentation, size/L

#341 Fix annotations and lables of CCE node
  flexibleengine/resource_flexibleengine_cce_node_v3.go
Labels: size/XS

#343 fix document bug for rds instance v3
  website/docs/r/rds_instance_v3.html.markdown
Labels: documentation, size/XS

#344 support tags for compute instance
  flexibleengine/resource_flexibleengine_compute_instance_v2.go
  flexibleengine/resource_flexibleengine_compute_instance_v2_test.go
  flexibleengine/resource_flexibleengine_ecs_auto_recovery_v1.go
  flexibleengine/resource_flexibleengine_ecs_v1_util.go
  flexibleengine/validators.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/tags/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/tags/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/tags/urls.go
  vendor/modules.txt
  website/docs/r/compute_instance_v2.html.markdown
Labels: dependencies, documentation, size/XL

#345 Add css_cluster_v1 resource and docs
  flexibleengine/custom_functions.go
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_css_cluster_v1.go
  flexibleengine/resource_flexibleengine_css_cluster_v1_test.go
  website/docs/r/css_cluster_v1.html.markdown
  website/flexibleengine.erb
Labels: documentation, size/XXL
