Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2023-12, with the labels that each got.

#1021 docs: fix docs of vpc_v1
  docs/data-sources/networking_port.md
  docs/data-sources/vpc_peering_connection_v2.md
  docs/data-sources/vpc_route_ids_v2.md
  docs/data-sources/vpc_route_v2.md
  docs/data-sources/vpc_subnet_ids_v1.md
  docs/data-sources/vpc_subnet_v1.md
  docs/data-sources/vpc_v1.md
  docs/data-sources/vpcep_endpoints.md
  docs/data-sources/vpcep_public_services.md
  docs/resources/networking_secgroup_rule_v2.md
  docs/resources/networking_secgroup_v2.md
  docs/resources/vpc_flow_log_v1.md
  docs/resources/vpc_peering_connection_accepter_v2.md
  docs/resources/vpc_peering_connection_v2.md
  docs/resources/vpc_route_v2.md
  docs/resources/vpc_subnet_v1.md
  docs/resources/vpc_v1.md
  docs/resources/vpcep_approval.md
  docs/resources/vpcep_endpoint.md
  docs/resources/vpcep_service.md
Labels: documentation, size/M, approved

#1082 docs(backend): update remote state backend for terraform v1.6.3
  README.md
  docs/guides/remote-state-backend.md
Labels: size/S, documentation

#1050 feat(apig): import api_gateway and apig (Dedicated api_gateway) resource…
  docs/resources/api_gateway_environment.md
  docs/resources/apig_acl_policy.md
  docs/resources/apig_acl_policy_associate.md
  docs/resources/apig_appcode.md
  docs/resources/apig_application.md
  docs/resources/apig_application_authorization.md
  docs/resources/apig_channel.md
  docs/resources/apig_instance_routes.md
  docs/resources/apig_signature.md
  docs/resources/apig_signature_associate.md
  flexibleengine/acceptance/resource_flexibleengine_api_gateway_environment_test.go
  flexibleengine/acceptance/resource_flexibleengine_apig_acl_policy_associate_test.go
  flexibleengine/acceptance/resource_flexibleengine_apig_acl_policy_test.go
  flexibleengine/acceptance/resource_flexibleengine_apig_appcode_test.go
  flexibleengine/acceptance/resource_flexibleengine_apig_application_authorization_test.go
  flexibleengine/acceptance/resource_flexibleengine_apig_channel_test.go
  flexibleengine/acceptance/resource_flexibleengine_apig_instance_routes_test.go
  flexibleengine/acceptance/resource_flexibleengine_apig_signature_associate_test.go
  flexibleengine/acceptance/resource_flexibleengine_apig_signature_test.go
  flexibleengine/provider.go
Labels: size/XL, feature, approved

#1063 feat(WAF): import WAF resource, unit test and document.
  docs/data-sources/waf_certificate.md
  flexibleengine/acceptance/data_source_flexibleengine_waf_certificate_test.go
  flexibleengine/provider.go
Labels: size/M, feature, LGTM, approved

#1081 feat(RDS): add a data source to get the list of RDS SQLServer collations
  docs/data-sources/rds_sqlserver_collations.md
  flexibleengine/acceptance/data_source_flexibleengine_rds_sqlserver_collations_test.go
  flexibleengine/provider.go
Labels: size/S, feature

#1079 feat(ELB): add a data source to get the list of ELB loadbalancers
  docs/data-sources/elb_loadbalancers.md
  flexibleengine/acceptance/data_source_flexibleengine_elb_loadbalancers_test.go
  flexibleengine/provider.go
Labels: size/L, feature

#1075 feat(SMN): add a data source to get the list of SMN message templates
  docs/data-sources/smn_message_templates.md
  flexibleengine/acceptance/data_source_flexibleengine_smn_message_templates_test.go
  flexibleengine/provider.go
Labels: size/M, feature, LGTM, approved

#1054 feat(CSS): import CSS resource, unit test and document.
  docs/data-sources/css_flavors.md
  docs/data-sources/smn_message_templates.md
  flexibleengine/acceptance/data_source_flexibleengine_css_flavors_test.go
  flexibleengine/provider.go
Labels: size/L, feature, LGTM, approved

#1039 feat(DDS): import DDS resource, unit test and document.
  docs/data-sources/dds_instances.md
  docs/resources/dds_audit_log_policy.md
  docs/resources/dds_backup.md
  docs/resources/dds_parameter_template.md
  flexibleengine/acceptance/data_source_flexibleengine_dds_instances_test.go
  flexibleengine/acceptance/resource_flexibleengine_dds_audit_log_policy_test.go
  flexibleengine/acceptance/resource_flexibleengine_dds_backup_test.go
  flexibleengine/acceptance/resource_flexibleengine_dds_parameter_template_test.go
  flexibleengine/acceptance/resource_flexibleengine_rds_backup_test.go
  flexibleengine/provider.go
Labels: size/XL, feature, LGTM, approved

#1056 feat(elb): import elb 10sp2 resource and add unit test and docs
  docs/data-sources/lb_certificate_v2.md
  docs/data-sources/lb_listeners_v2.md
  docs/resources/lb_logtank_v3.md
  flexibleengine/acceptance/data_source_flexibleengine_lb_listeners_v2_test.go
  flexibleengine/acceptance/resource_flexibleengine_lb_logtank_v3_test.go
  flexibleengine/data_source_flexibleengine_lb_certificate_v2.go
  flexibleengine/data_source_flexibleengine_lb_certificate_v2_test.go
  flexibleengine/provider.go
Labels: size/L, feature, LGTM, approved

#1076 feat(apig): add apig_groups data source
  docs/data-sources/apig_groups.md
  flexibleengine/acceptance/data_source_flexibleengine_apig_groups_test.go
  flexibleengine/provider.go
Labels: size/M, feature, LGTM

#1078 feat(DCS): add a data source to get the list of DCS templates
  docs/data-sources/dcs_templates.md
  flexibleengine/acceptance/data_source_flexibleengine_dcs_templates_test.go
  flexibleengine/provider.go
Labels: size/M, feature, LGTM

#1083 chore: update docs and acceptance tests of ELB
  docs/data-sources/apig_environments.md
  docs/data-sources/elb_loadbalancers.md
  docs/resources/apig_api.md
  docs/resources/apig_api_publishment.md
  docs/resources/apig_custom_authorizer.md
  docs/resources/apig_environment.md
  docs/resources/apig_group.md
  docs/resources/apig_instance.md
  docs/resources/apig_response.md
  docs/resources/apig_throttling_policy.md
  docs/resources/apig_throttling_policy_associate.md
  docs/resources/apig_vpc_channel.md
  docs/resources/cce_namespace.md
  docs/resources/cce_pvc.md
  docs/resources/cse_microservice.md
  docs/resources/cse_microservice_engine.md
  docs/resources/cse_microservice_instance.md
  docs/resources/dli_database.md
  docs/resources/dli_flinksql_job.md
  docs/resources/dli_package.md
  docs/resources/dli_spark_job.md
  docs/resources/dli_table.md
  docs/resources/drs_job.md
  docs/resources/elb_logtank.md
  docs/resources/elb_security_policy.md
  docs/resources/modelarts_dataset.md
  docs/resources/modelarts_dataset_version.md
  docs/resources/rds_account.md
  docs/resources/rds_database.md
  docs/resources/rds_database_privilege.md
  docs/resources/vpc_route.md
  docs/resources/vpc_route_table.md
  docs/resources/waf_dedicated_certificate.md
  docs/resources/waf_dedicated_domain.md
  docs/resources/waf_dedicated_instance.md
  docs/resources/waf_dedicated_policy.md
  flexibleengine/acceptance/resource_flexibleengine_elb_logtank_test.go
  flexibleengine/acceptance/resource_flexibleengine_elb_security_policy_test.go
  flexibleengine/provider.go
Labels: documentation, size/M, chore

#1084 changelog: update CHANGELOG for v1.45.0
  CHANGELOG.md
Labels: size/S
