Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2023-07, with the labels that each got.

#956 fix(network/port): deprecate mac_address which cannot be set
  docs/resources/networking_port_v2.md
  flexibleengine/resource_flexibleengine_networking_port_v2.go
Labels: size/S, bugfix

#958 feat(smn): add and update smn resources
  docs/resources/smn_message_template.md
  docs/resources/smn_subscription_v2.md
  docs/resources/smn_topic_v2.md
  flexibleengine/acceptance/resource_flexibleengine_smn_message_template_test.go
  flexibleengine/acceptance/resource_flexibleengine_smn_subscription_test.go
  flexibleengine/acceptance/resource_flexibleengine_smn_topic_test.go
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_smn_subscription_v2.go
  flexibleengine/resource_flexibleengine_smn_subscription_v2_test.go
  flexibleengine/resource_flexibleengine_smn_topic_v2.go
  flexibleengine/resource_flexibleengine_smn_topic_v2_test.go
  go.mod
  go.sum
Labels: dependencies, size/XL, feature

#959 feat(ims): update image resource and data_source
  docs/data-sources/images_image.md
  docs/data-sources/images_image_v2.md
  docs/data-sources/images_images.md
  docs/resources/images_image.md
  docs/resources/images_image_v2.md
  flexibleengine/acceptance/acceptance.go
  flexibleengine/acceptance/data_source_flexibleengine_images_image_test.go
  flexibleengine/acceptance/data_source_flexibleengine_images_images_test.go
  flexibleengine/acceptance/resource_flexibleengine_images_image_test.go
  flexibleengine/data_source_flexibleengine_images_image_v2.go
  flexibleengine/data_source_flexibleengine_images_image_v2_test.go
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_images_image_v2.go
  flexibleengine/resource_flexibleengine_images_image_v2_test.go
Labels: size/XL, feature

#960 feat(cbr): update vault and add a new data_source
  docs/data-sources/cbr_backup.md
  docs/data-sources/cbr_vaults.md
  docs/resources/cbr_policy.md
  docs/resources/cbr_vault.md
  flexibleengine/acceptance/data_source_flexibleengine_cbr_backup_test.go
  flexibleengine/acceptance/resource_flexibleengine_cbr_vault_test.go
  flexibleengine/provider.go
  go.sum
Labels: size/L, feature

#961 update CHANGELOG for v1.39.0
  CHANGELOG.md
Labels: size/XS

#965 feat(kms): add new resource kms_grant
  docs/resources/kms_grant.md
  flexibleengine/acceptance/resource_flexibleengine_kms_grant_test.go
  flexibleengine/provider.go
Labels: size/M, feature

#966 feat(as): add new resources
  docs/data-sources/as_configurations.md
  docs/data-sources/as_groups.md
  docs/resources/as_configuration.md
  docs/resources/as_group.md
  docs/resources/as_instance_attach.md
  docs/resources/as_notification.md
  flexibleengine/acceptance/data_source_flexibleengine_as_configurations_test.go
  flexibleengine/acceptance/data_source_flexibleengine_as_groups_test.go
  flexibleengine/acceptance/resource_flexibleengine_as_instance_acctah_test.go
  flexibleengine/acceptance/resource_flexibleengine_as_notification_test.go
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_as_group_v1.go
Labels: size/L, feature
