Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2023-08, with the labels that each got.

#967 docs(style): fix HCL obsolete format
  docs/data-sources/cce_node_ids_v3.md
  docs/data-sources/compute_bms_keypairs_v2.md
  docs/data-sources/compute_bms_nic_v2.md
  docs/data-sources/compute_bms_server_v2.md
  docs/data-sources/csbs_backup_policy_v1.md
  docs/data-sources/csbs_backup_v1.md
  docs/data-sources/lb_certificate_v2.md
  docs/data-sources/rts_software_config.md
  docs/data-sources/rts_stack_resource_v1.md
  docs/data-sources/rts_stack_v1.md
  docs/data-sources/sfs_file_system_v2.md
  docs/data-sources/vbs_backup_policy_v2.md
  docs/data-sources/vbs_backup_v2.md
  docs/data-sources/vpc_peering_connection_v2.md
  docs/data-sources/vpc_v1.md
Labels: documentation, size/M

#968 test(style): fix HCL obsolete format
  examples/instances.tf
  examples/keypairs.tf
  flexibleengine/acceptance/resource_flexibleengine_apig_api_publishment_test.go
  flexibleengine/acceptance/resource_flexibleengine_dli_spark_job_test.go
  flexibleengine/acceptance/resource_flexibleengine_vpc_route_table_route_test.go
  flexibleengine/data_source_flexibleengine_compute_bms_nic_v2_test.go
  flexibleengine/data_source_flexibleengine_s3_bucket_object_test.go
  flexibleengine/data_source_flexibleengine_sfs_file_system_v2_test.go
  flexibleengine/data_source_flexibleengine_vpc_peering_connection_v2_test.go
  flexibleengine/data_source_flexibleengine_vpc_route_ids_v2_test.go
  flexibleengine/data_source_flexibleengine_vpc_route_v2_test.go
  flexibleengine/data_source_flexibleengine_vpc_subnet_ids_v1_test.go
  flexibleengine/data_source_flexibleengine_vpc_v1_test.go
  flexibleengine/resource_flexibleengine_compute_interface_attach_v2_test.go
  flexibleengine/resource_flexibleengine_drs_replication_v2_test.go
  flexibleengine/resource_flexibleengine_drs_replicationconsistencygroup_v2_test.go
  flexibleengine/resource_flexibleengine_elb_backend_test.go
  flexibleengine/resource_flexibleengine_elb_health_test.go
  flexibleengine/resource_flexibleengine_elb_listener_test.go
  flexibleengine/resource_flexibleengine_elb_loadbalancer_test.go
  flexibleengine/resource_flexibleengine_fw_firewall_group_v2_test.go
  flexibleengine/resource_flexibleengine_fw_policy_v2_test.go
  flexibleengine/resource_flexibleengine_mrs_job_v1_test.go
  flexibleengine/resource_flexibleengine_networking_floatingip_associate_v2_test.go
  flexibleengine/resource_flexibleengine_networking_floatingip_v2_test.go
  flexibleengine/resource_flexibleengine_networking_network_v2_test.go
  flexibleengine/resource_flexibleengine_networking_router_interface_v2_test.go
  flexibleengine/resource_flexibleengine_networking_router_route_v2_test.go
  flexibleengine/resource_flexibleengine_networking_subnet_v2_test.go
  flexibleengine/resource_flexibleengine_rds_instance_v1_test.go
  flexibleengine/resource_flexibleengine_s3_bucket_object_test.go
  flexibleengine/resource_flexibleengine_s3_bucket_policy_test.go
  flexibleengine/resource_flexibleengine_s3_bucket_test.go
  flexibleengine/resource_flexibleengine_vpc_peering_connection_accepter_v2_test.go
  flexibleengine/resource_flexibleengine_waf_dedicated_instance_test.go
Labels: size/L, test, chore

#969 chore: deprecate lb_certificates_v2 in docs and acc-tests
  docs/resources/lb_listener_v2.md
  flexibleengine/data_source_flexibleengine_lb_certificates_v2.go
  flexibleengine/resource_flexibleengine_lb_listener_v2_test.go
Labels: size/XS, chore

#970 update CHANGELOG for v1.40.0
  CHANGELOG.md
Labels: size/XS

#971 feat(NAT): add private nat resources
  docs/resources/nat_private_dnat_rule.md
  docs/resources/nat_private_gateway.md
  docs/resources/nat_private_snat_rule.md
  docs/resources/nat_private_transit_ip.md
  flexibleengine/acceptance/common.go
  flexibleengine/acceptance/data_source_flexibleengine_images_image_test.go
  flexibleengine/acceptance/resource_flexibleengine_nat_private_dnat_rule_test.go
  flexibleengine/acceptance/resource_flexibleengine_nat_private_gateway_test.go
  flexibleengine/acceptance/resource_flexibleengine_nat_private_snat_rule_test.go
  flexibleengine/acceptance/resource_flexibleengine_nat_private_transit_ip_test.go
  flexibleengine/provider.go
Labels: size/XL, feature, LGTM
