Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2023-10, with the labels that each got.

#1041 Bump cloud SDK to v1.56.0
  flexibleengine/acceptance/resource_flexibleengine_rds_account_test.go
  flexibleengine/acceptance/resource_flexibleengine_rds_database_privilege_test.go
  flexibleengine/acceptance/resource_flexibleengine_rds_database_test.go
  flexibleengine/config.go
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_cce_node_pool.go
  flexibleengine/resource_flexibleengine_identity_user_v3.go
  go.mod
  go.sum
Labels: dependencies, size/L

#1008 docs(ecs): fix docs issues
  docs/data-sources/availability_zones.md
  docs/data-sources/compute_instance_v2.md
  docs/data-sources/compute_instances.md
  docs/resources/compute_instance_v2.md
  docs/resources/compute_interface_attach_v2.md
  docs/resources/compute_volume_attach_v2.md
  flexibleengine/data_source_flexibleengine_compute_instance_v2.go
  flexibleengine/data_source_flexibleengine_compute_instances.go
Labels: size/L, documentation, LGTM

#1018 docs(ims): fix docs issues
  docs/data-sources/images_image.md
  docs/data-sources/images_image_v2.md
  docs/resources/images_image.md
  docs/resources/images_image_copy.md
  docs/resources/images_image_share_accepter.md
  docs/resources/images_image_v2.md
Labels: documentation, size/M, LGTM

#1023 docs(mrs): fix docs issues
  docs/resources/mrs_cluster_v2.md
  docs/resources/mrs_job_v2.md
  flexibleengine/resource_flexibleengine_mrs_cluster_v2.go
Labels: documentation, size/M, LGTM

#1010 docs(elb): fix docs issues
  docs/data-sources/elb_certificate.md
  docs/data-sources/lb_certificate_v2.md
  docs/data-sources/lb_loadbalancer_v2.md
  docs/resources/elb_backend.md
  docs/resources/elb_certificate.md
  docs/resources/elb_health.md
  docs/resources/elb_ipgroup.md
  docs/resources/elb_listener.md
  docs/resources/elb_loadbalancer.md
  docs/resources/lb_certificate_v2.md
  docs/resources/lb_l7policy_v2.md
  docs/resources/lb_l7rule_v2.md
  docs/resources/lb_listener_v2.md
  docs/resources/lb_loadbalancer_v2.md
  docs/resources/lb_loadbalancer_v3.md
  docs/resources/lb_member_v2.md
  docs/resources/lb_monitor_v2.md
  docs/resources/lb_pool_v2.md
  docs/resources/lb_pool_v3.md
  docs/resources/lb_whitelist_v2.md
  flexibleengine/acceptance/resource_flexibleengine_elb_certificate_test.go
  flexibleengine/acceptance/resource_flexibleengine_lb_loadbalancer_v3_test.go
  flexibleengine/resource_flexibleengine_lb_l7policy_v2.go
  flexibleengine/resource_flexibleengine_lb_l7rule_v2.go
  flexibleengine/resource_flexibleengine_lb_loadbalancer_v2.go
  flexibleengine/resource_flexibleengine_lb_member_v2.go
  flexibleengine/resource_flexibleengine_lb_monitor_v2.go
  flexibleengine/resource_flexibleengine_lb_whitelist_v2.go
Labels: size/XL, documentation, LGTM

#1051 ci: add PR template and PR title CI
  .github/PULL_REQUEST_TEMPLATE
  .github/workflows/pr_title.yml
Labels: size/S

#1013 docs(GaussDB): fix docs issues
  docs/data-sources/gaussdb_cassandra_instances.md
  docs/resources/gaussdb_cassandra_instance.md
  docs/resources/gaussdb_influx_instance.md
Labels: size/S, documentation, LGTM

#1020 docs(kms/lts/mls): fix docs issues
  docs/data-sources/kms_data_key_v1.md
  docs/data-sources/kms_key_v1.md
  docs/resources/kms_key_v1.md
  docs/resources/lts_topic.md
  docs/resources/mls_instance_v1.md
  flexibleengine/resource_flexibleengine_mls_instance_v1.go
Labels: documentation, size/M, LGTM

#1025 docs(obs): fix docs issues
  docs/data-sources/s3_bucket_object.md
  docs/resources/obs_bucket.md
  docs/resources/obs_bucket_acl.md
  docs/resources/obs_bucket_notifications.md
  docs/resources/obs_bucket_object.md
  docs/resources/obs_bucket_replication.md
  docs/resources/s3_bucket.md
  docs/resources/s3_bucket_object.md
  docs/resources/s3_bucket_policy.md
  flexibleengine/resource_flexibleengine_s3_bucket.go
Labels: size/L, documentation, LGTM

#1026 docs(waf): fix docs issues
  docs/data-sources/waf_dedicated_instances.md
  docs/resources/waf_certificate.md
  docs/resources/waf_dedicated_certificate.md
  docs/resources/waf_dedicated_domain.md
  docs/resources/waf_dedicated_instance.md
  docs/resources/waf_dedicated_policy.md
  docs/resources/waf_domain.md
  docs/resources/waf_policy.md
  docs/resources/waf_rule_cc_protection.md
Labels: documentation, size/M, LGTM

#1030 docs(sfs): fix docs issues.
  docs/data-sources/sfs_file_system_v2.md
  docs/data-sources/sfs_turbos.md
  docs/resources/sfs_access_rule_v2.md
  docs/resources/sfs_file_system_v2.md
  docs/resources/sfs_turbo.md
  flexibleengine/acceptance/data_source_flexibleengine_sfs_turbos_test.go
  flexibleengine/acceptance/resource_flexibleengine_sfs_turbo_test.go
Labels: documentation, size/M, LGTM

#1031 docs(rts): fix docs issues.
  docs/data-sources/rts_software_config_v1.md
  docs/data-sources/rts_stack_resource_v1.md
  docs/data-sources/rts_stack_v1.md
  docs/resources/rts_software_config_v1.md
  docs/resources/rts_stack_v1.md
Labels: size/S, documentation, LGTM

#1032 docs(sdrs): fix docs issues.
  docs/data-sources/sdrs_domain_v1.md
  docs/resources/sdrs_drill_v1.md
  docs/resources/sdrs_protectedinstance_v1.md
  docs/resources/sdrs_protectiongroup_v1.md
  docs/resources/sdrs_replication_attach_v1.md
  docs/resources/sdrs_replication_pair_v1.md
  flexibleengine/resource_flexibleengine_sdrs_drill.go
  flexibleengine/resource_flexibleengine_sdrs_replication_pair_v1.go
Labels: documentation, size/M, LGTM

#1033 docs(rds): fix docs issues.
  docs/data-sources/rds_flavors_v3.md
  docs/resources/rds_account.md
  docs/resources/rds_database.md
  docs/resources/rds_database_privilege.md
  docs/resources/rds_instance_v3.md
  docs/resources/rds_parametergroup_v3.md
  docs/resources/rds_read_replica_v3.md
  flexibleengine/acceptance/resource_flexibleengine_rds_account_test.go
  flexibleengine/acceptance/resource_flexibleengine_rds_database_test.go
  flexibleengine/acceptance/resource_flexibleengine_rds_instance_v3_test.go
Labels: size/L, documentation, LGTM

#1034 feat(DLI): import DLI global variable resource and add unit test and document.
  docs/resources/dli_global_variable.md
  flexibleengine/acceptance/resource_flexibleengine_dli_global_variable_test.go
  flexibleengine/provider.go
Labels: size/M, feature, test, LGTM
