Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2023-02, with the labels that each got.

#910 feat(config): support update the region field in customizing OSS endp…
  flexibleengine/config_test.go
  flexibleengine/s3session.go
Labels: size/S, feature, LGTM

#919 fix: add missing DeprecationMessage for deprecated resources
  docs/resources/compute_floatingip_v2.md
  flexibleengine/resource_flexibleengine_compute_floatingip_v2.go
  flexibleengine/resource_flexibleengine_lb_certificate_v2.go
  flexibleengine/resource_flexibleengine_vpc_route_v2.go
Labels: size/XS, bugfix

#925 feat(dms/kafka): support tags in kafka instance
  docs/resources/dms_kafka_instance.md
  flexibleengine/acceptance/resource_flexibleengine_apig_application_test.go
  flexibleengine/acceptance/resource_flexibleengine_apig_throttling_policy_test.go
  flexibleengine/provider.go
  flexibleengine/provider_test.go
  flexibleengine/resource_flexibleengine_dms_kafka_instance.go
  flexibleengine/resource_flexibleengine_dms_kafka_instance_test.go
  go.mod
  go.sum
Labels: dependencies, size/S, feature, LGTM

#922 feat(obs): obs support notification
  docs/resources/obs_bucket_notifications.md
  flexibleengine/provider.go
  flexibleengine/provider_test.go
  flexibleengine/resource_flexibleengine_obs_bucket_notifications.go
  flexibleengine/resource_flexibleengine_obs_bucket_notifications_test.go
Labels: size/L, feature
