Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2023-05, with the labels that each got.

#938 docs(lint): fix the markdownlint MD034 issues
  docs/resources/fgs_dependency.md
  docs/resources/waf_dedicated_domain.md
  docs/resources/waf_domain.md
  docs/resources/waf_rule_cc_protection.md
Labels: size/XS, documentation

#937 feat(dds): unset the validation of version to create MongoDB 4.2
  docs/resources/dds_instance_v3.md
  flexibleengine/resource_flexibleengine_dds_instance_v3.go
  flexibleengine/resource_flexibleengine_dds_instance_v3_test.go
Labels: size/XS, feature

#941 chore: refactor package reference and function usage
  flexibleengine/acceptance/resource_flexibleengine_apig_vpc_channel_test.go
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_ces_alarmrule.go
  flexibleengine/resource_flexibleengine_ces_alarmrule_test.go
  flexibleengine/resource_flexibleengine_sfs_turbo.go
  go.mod
  go.sum
Labels: dependencies, size/S, chore

#942 feat(obs): support parallel_fs in obs bucket
  docs/resources/obs_bucket.md
  flexibleengine/resource_flexibleengine_obs_bucket.go
  flexibleengine/resource_flexibleengine_obs_bucket_test.go
Labels: size/S, feature

#943 feat(obs): add new resource bucket acl
  docs/resources/obs_bucket_acl.md
  flexibleengine/acceptance/resource_flexibleengine_obs_bucket_acl_test.go
  flexibleengine/provider.go
Labels: size/M, feature, LGTM

#944 feat(ims/copy): add new resource support
  docs/resources/images_image_copy.md
  flexibleengine/acceptance/acceptance.go
  flexibleengine/acceptance/resource_flexibleengine_images_image_copy_test.go
  flexibleengine/provider.go
Labels: size/L, feature

#945 docs: update docs for css cluster
  docs/resources/css_cluster_v1.md
Labels: documentation, size/M
