Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2023-11, with the labels that each got.

#1036 feat(AOM): import AOM resource, unit test and document.
  docs/resources/aom_service_discovery_rule.md
  flexibleengine/acceptance/resource_flexibleengine_aom_service_discovery_rule_test.go
  flexibleengine/provider.go
Labels: size/L, feature, LGTM

#1037 feat(ECS): import ECS resource, unit test and document.
  docs/data-sources/compute_servergroups.md
  flexibleengine/acceptance/data_source_flexibleengine_compute_servergroups_test.go
  flexibleengine/provider.go
Labels: size/S, feature, LGTM

#1040 feat(GaussDB): import GaussDB resource, unit test and document.
  docs/data-sources/gaussdb_cassandra_flavors.md
  flexibleengine/acceptance/data_source_flexibleengine_gaussdb_cassandra_flavors_test.go
  flexibleengine/provider.go
Labels: size/S, feature, LGTM

#1046 docs(FireWall): fix docs issues
  docs/resources/fw_firewall_group_v2.md
  docs/resources/fw_policy_v2.md
  docs/resources/fw_rule_v2.md
  docs/resources/network_acl.md
  docs/resources/network_acl_rule.md
  flexibleengine/resource_flexibleengine_fw_firewall_group_v2.go
  flexibleengine/resource_flexibleengine_fw_policy_v2.go
  flexibleengine/resource_flexibleengine_fw_rule_v2.go
Labels: size/L, documentation

#1060 feat(CCE): import CCE resource, unit test and document.
  docs/data-sources/cce_nodes.md
  flexibleengine/acceptance/data_source_flexibleengine_cce_nodes_test.go
  flexibleengine/provider.go
Labels: size/M, feature, LGTM

#1061 fix(cce/node_pool): do not set initial_node_count and add current_node_count attr
  docs/resources/cce_node_pool_v3.md
  flexibleengine/resource_flexibleengine_cce_node_pool.go
  flexibleengine/resource_flexibleengine_cce_node_pool_test.go
Labels: size/XS, bugfix

#1062 changelog: update CHANGELOG for v1.43.0
  CHANGELOG.md
Labels: size/XS

#1064 docs(ELB): fix the docs issues.
  docs/resources/lb_loadbalancer_v3.md
Labels: size/XS, documentation, LGTM

#1035 feat(DLI): import DLI template flink resource and add unit test and document.
  docs/resources/dli_datasource_connection.md
  docs/resources/dli_sql_job.md
  docs/resources/dli_template_flink.md
  flexibleengine/acceptance/resource_flexibleengine_dli_datasource_connection_test.go
  flexibleengine/acceptance/resource_flexibleengine_dli_sql_job_test.go
  flexibleengine/acceptance/resource_flexibleengine_dli_template_flink_test.go
  flexibleengine/provider.go
Labels: size/L, feature, LGTM

#1058 feat(RDS): import RDS resource, unit test and document.
  docs/data-sources/rds_backups.md
  docs/data-sources/rds_engine_versions.md
  docs/data-sources/rds_flavors_v3.md
  docs/data-sources/rds_instances.md
  docs/data-sources/rds_storage_types.md
  docs/resources/rds_backup.md
  docs/resources/rds_cross_region_backup_strategy.md
  docs/resources/rds_instance_v3.md
  docs/resources/rds_parametergroup_v3.md
  docs/resources/rds_read_replica_v3.md
  docs/resources/rds_sql_audit.md
  flexibleengine/acceptance/data_source_flexibleengine_rds_backups_test.go
  flexibleengine/acceptance/data_source_flexibleengine_rds_engine_versions_test.go
  flexibleengine/acceptance/data_source_flexibleengine_rds_instances_test.go
  flexibleengine/acceptance/data_source_flexibleengine_rds_storage_types_test.go
  flexibleengine/acceptance/resource_flexibleengine_rds_backup_test.go
  flexibleengine/acceptance/resource_flexibleengine_rds_cross_region_backup_strategy_test.go
  flexibleengine/acceptance/resource_flexibleengine_rds_instance_v3_test.go
  flexibleengine/acceptance/resource_flexibleengine_rds_sql_audit_test.go
  flexibleengine/provider.go
Labels: size/XL, feature, bugfix, LGTM

#1052 feat(obs_bucket_object): import obs_bucket_object resource and add un…
  docs/data-sources/obs_bucket_object.md
  flexibleengine/acceptance/data_source_flexibleengine_obs_bucket_object_test.go
  flexibleengine/provider.go
Labels: size/L, feature, LGTM

#1057 feat(vpc): import vpc resource and add unit test and docs
  docs/data-sources/vpc_subnets.md
  docs/data-sources/vpcs.md
  flexibleengine/acceptance/acceptance.go
  flexibleengine/acceptance/data_source_flexibleengine_vpc_subnets_test.go
  flexibleengine/acceptance/data_source_flexibleengine_vpcs_test.go
  flexibleengine/provider.go
Labels: size/L, feature, LGTM

#1067 feat(CCE): add new fields.
  docs/resources/cce_node_pool_v3.md
  docs/resources/cce_node_v3.md
  flexibleengine/acceptance/data_source_flexibleengine_obs_bucket_object_test.go
  flexibleengine/resource_flexibleengine_cce_node_pool.go
  flexibleengine/resource_flexibleengine_cce_node_pool_test.go
  flexibleengine/resource_flexibleengine_cce_node_v3.go
  flexibleengine/resource_flexibleengine_cce_node_v3_test.go
Labels: size/M, feature, LGTM

#1071 feat(CCE): add new status of resource.
  flexibleengine/resource_flexibleengine_cce_node_pool.go
  flexibleengine/resource_flexibleengine_cce_node_v3.go
Labels: size/XS, feature, LGTM

#1070 chore: bump hw version to 1.57.0 to fix elb v3 issue
  flexibleengine/acceptance/resource_flexibleengine_lb_listener_v3_test.go
  flexibleengine/acceptance/resource_flexibleengine_lb_pool_v3_test.go
  go.mod
  go.sum
Labels: dependencies, size/S, chore

#1072 feat(workflow): Add prow GitHub action to manage labels
  .github/workflows/prow.yml
  OWNERS
Labels: size/S, feature, LGTM

#1073 refactor(workflow): Switch prow-action to chnsz organization.
  .github/workflows/prow.yml
Labels: size/XS, refactor
