Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2023-04, with the labels that each got.

#931 feat(iam): support security_token in flexibleengine
  docs/index.md
  flexibleengine/config.go
  flexibleengine/provider.go
Labels: size/XS, feature, LGTM

#934 feat(gaussdb): add nosql resources
  docs/data-sources/gaussdb_cassandra_instances.md
  docs/data-sources/gaussdb_nosql_flavors.md
  docs/resources/gaussdb_cassandra_instance.md
  docs/resources/gaussdb_influx_instance.md
  flexibleengine/acceptance/data_source_flexibleengine_gaussdb_cassandra_instances_test.go
  flexibleengine/acceptance/data_source_flexibleengine_gaussdb_nosql_flavors_test.go
  flexibleengine/acceptance/resource_flexibleengine_gaussdb_cassandra_instance_test.go
  flexibleengine/acceptance/resource_flexibleengine_gaussdb_influx_instance_test.go
  flexibleengine/provider.go
Labels: size/XL, feature, LGTM

#936 fix: delete subscription resource if i t not exist
  flexibleengine/resource_flexibleengine_smn_subscription_v2.go
Labels: size/S, bugfix

#935 update CHANGELOG for v1.37.0
  CHANGELOG.md
Labels: size/XS
