Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2023-09, with the labels that each got.

#972 refactor(sfs-turbo): refer to huaweicloud and update the doc
  docs/resources/sfs_turbo.md
  flexibleengine/acceptance/resource_flexibleengine_sfs_turbo_test.go
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_sfs_turbo.go
  go.mod
Labels: dependencies, size/L, refactor, LGTM

#974 docs(gaussdb): update the docs of gaussdb
  docs/data-sources/gaussdb_nosql_flavors.md
  docs/resources/gaussdb_cassandra_instance.md
  docs/resources/gaussdb_influx_instance.md
Labels: size/XS, documentation, LGTM

#980 feat(sfs): support enhanced in sfs turbo
  docs/resources/sfs_turbo.md
  flexibleengine/acceptance/resource_flexibleengine_sfs_turbo_test.go
Labels: size/XS, feature

#983 docs(DNS/recordset): fix docs issues
  docs/resources/dns_recordset_v2.md
Labels: size/S, documentation, bugfix, LGTM

#984 docs(DNS/ptrrecord): fix docs issues
  docs/resources/dns_ptrrecord_v2.md
Labels: size/XS, documentation, bugfix

#985 docs(vpc): fix docs issues
  docs/data-sources/vpc_eip.md
  docs/resources/vpc_eip.md
Labels: size/S, documentation, bugfix, LGTM

#988 docs: fix docs resource name issues
  docs/data-sources/cce_node_ids_v3.md
  docs/data-sources/compute_bms_flavors_v2.md
  docs/data-sources/compute_bms_keypairs_v2.md
  docs/data-sources/compute_bms_nic_v2.md
  docs/data-sources/compute_bms_server_v2.md
  docs/data-sources/csbs_backup_policy_v1.md
  docs/data-sources/csbs_backup_v1.md
  docs/data-sources/cts_tracker_v1.md
  docs/data-sources/rts_software_config.md
  docs/data-sources/rts_stack_resource_v1.md
  docs/data-sources/rts_stack_v1.md
  docs/data-sources/sfs_file_system_v2.md
  docs/data-sources/vbs_backup_policy_v2.md
  docs/data-sources/vbs_backup_v2.md
  docs/data-sources/vpc_peering_connection_v2.md
  docs/data-sources/vpc_route_ids_v2.md
  docs/data-sources/vpc_route_v2.md
Labels: size/S, documentation, LGTM

#978 fix: fix docs of Anti-DDoS service.
  docs/resources/antiddos_v1.md
Labels: size/XS, bugfix, LGTM

#990 docs(CES): fix docs issues.
  docs/resources/ces_alarmrule.md
Labels: size/XS, documentation

#982 fix(DNS/zone): docs issues and incorrect attributes for schema fields
  docs/data-sources/dns_zone_v2.md
  docs/resources/dns_zone_v2.md
  flexibleengine/data_source_flexibleengine_dns_zone_v2.go
Labels: size/S, bugfix, LGTM

#986 docs(evs): fix docs issues
  docs/resources/blockstorage_volume_v2.md
Labels: size/S, documentation, bugfix, LGTM

#987 docs(drs): fix docs issues
  docs/resources/drs_job.md
Labels: size/XS, documentation, bugfix

#991 update CHANGELOG for v1.41.0
  CHANGELOG.md
Labels: size/XS

#998 feat(ddm): add ddm resources
  docs/data-sources/ddm_accounts.md
  docs/data-sources/ddm_engines.md
  docs/data-sources/ddm_flavors.md
  docs/data-sources/ddm_instance_nodes.md
  docs/data-sources/ddm_instances.md
  docs/data-sources/ddm_schemas.md
  docs/resources/ddm_account.md
  docs/resources/ddm_instance.md
  docs/resources/ddm_schema.md
  flexibleengine/acceptance/data_source_flexibleengine_ddm_accounts_test.go
  flexibleengine/acceptance/data_source_flexibleengine_ddm_engines_test.go
  flexibleengine/acceptance/data_source_flexibleengine_ddm_flavors_test.go
  flexibleengine/acceptance/data_source_flexibleengine_ddm_instance_nodes_test.go
  flexibleengine/acceptance/data_source_flexibleengine_ddm_instances_test.go
  flexibleengine/acceptance/data_source_flexibleengine_ddm_schemas_test.go
  flexibleengine/acceptance/resource_flexibleengine_ddm_account_test.go
  flexibleengine/acceptance/resource_flexibleengine_ddm_instance_test.go
  flexibleengine/acceptance/resource_flexibleengine_ddm_schema_test.go
  flexibleengine/provider.go
Labels: size/XL, feature

#993 docs(cbr): fix docs issues.
  docs/data-sources/cbr_backup.md
  docs/data-sources/cbr_vaults.md
  docs/resources/cbr_policy.md
  docs/resources/cbr_vault.md
Labels: size/S, documentation

#996 docs(cse): fix docs issues.
  docs/resources/cse_microservice_instance.md
Labels: size/XS, documentation

#999 docs(cts): fix docs issues.
  docs/data-sources/cts_tracker_v1.md
  docs/resources/cts_tracker_v1.md
Labels: size/XS, documentation

#1000 docs(as): Supplement missing documents
  docs/data-sources/as_configurations.md
  docs/data-sources/as_groups.md
Labels: size/S, documentation

#1001 docs(dcs): fix docs issue and schema missing field
  docs/data-sources/dcs_az_v1.md
  docs/data-sources/dcs_maintainwindow_v1.md
  docs/data-sources/dcs_product_v1.md
  docs/resources/dcs_instance_v1.md
  flexibleengine/resource_flexibleengine_dcs_instance_v1.go
Labels: size/S, documentation

#1005 docs(dws): fix docs issues.
  docs/data-sources/dws_flavors.md
  docs/resources/dws_cluster_v1.md
  flexibleengine/acceptance/data_source_flexibleengine_dws_flavors_test.go
Labels: documentation, size/M, LGTM

#1002 docs(dds): fix docs issues.
  docs/data-sources/dds_flavor_v3.md
  docs/data-sources/dds_flavors_v3.md
  docs/resources/dds_instance_v3.md
  flexibleengine/data_source_flexibleengine_dds_flavor_v3_test.go
Labels: documentation, size/M, LGTM

#992 docs(bms): fix docs issues.
  docs/data-sources/compute_bms_flavors_v2.md
  docs/data-sources/compute_bms_keypairs_v2.md
  docs/data-sources/compute_bms_nic_v2.md
  docs/data-sources/compute_bms_server_v2.md
  docs/resources/compute_bms_server_v2.md
Labels: documentation, size/M

#994 docs(cce): fix docs issues.
  docs/data-sources/cce_addon_template.md
  docs/data-sources/cce_cluster_v3.md
  docs/data-sources/cce_clusters.md
  docs/data-sources/cce_node_ids_v3.md
  docs/data-sources/cce_node_v3.md
  docs/resources/cce_addon_v3.md
  docs/resources/cce_cluster_v3.md
  docs/resources/cce_node_pool_v3.md
  docs/resources/cce_node_v3.md
Labels: size/L, documentation

#995 docs(csbs): fix docs issues.
  docs/data-sources/csbs_backup_policy_v1.md
  docs/data-sources/csbs_backup_v1.md
  docs/resources/csbs_backup_policy_v1.md
  docs/resources/csbs_backup_v1.md
Labels: documentation, size/M

#997 docs(css): fix docs issues.
  docs/resources/css_cluster_v1.md
  docs/resources/css_snapshot_v1.md
Labels: size/S, documentation

#1004 docs(dms): fix docs issues.
  docs/data-sources/dms_kafka_instances.md
  docs/data-sources/dms_product.md
  docs/data-sources/dms_rocketmq_broker.md
  docs/data-sources/dms_rocketmq_instances.md
  docs/resources/dms_kafka_instance.md
  docs/resources/dms_rocketmq_instance.md
  docs/resources/dms_rocketmq_topic.md
  flexibleengine/data_source_flexibleengine_dms_product_test.go
Labels: size/S, documentation

#1007 docs(as/cbr/cse): processing Fields Referencing Huawei Cloud
  docs/data-sources/as_groups.md
  docs/resources/cbr_vault.md
  docs/resources/cse_microservice_engine.md
  flexibleengine/acceptance/data_source_flexibleengine_as_groups_test.go
Labels: size/XS, documentation

#979 fix: fix docs of APIG service.
  docs/resources/api_gateway_api.md
  docs/resources/api_gateway_group.md
  docs/resources/apig_api.md
  docs/resources/apig_api_publishment.md
  docs/resources/apig_application.md
  docs/resources/apig_custom_authorizer.md
  docs/resources/apig_environment.md
  docs/resources/apig_group.md
  docs/resources/apig_instance.md
  docs/resources/apig_response.md
  docs/resources/apig_throttling_policy.md
  docs/resources/apig_vpc_channel.md
Labels: size/M, bugfix

#1019 docs(elb): udpate the doc of loadbalancer
  docs/resources/lb_loadbalancer_v3.md
Labels: size/S, documentation, LGTM

#1022 feat(cce): support hibernate in cce cluster
  docs/resources/cce_cluster_v3.md
  flexibleengine/resource_flexibleengine_cce_cluster_v3.go
  flexibleengine/resource_flexibleengine_cce_cluster_v3_test.go
  flexibleengine/utils.go
Labels: size/M, feature

#1011 docs(eps): fix docs issues
  docs/data-sources/enterprise_project.md
  docs/resources/enterprise_project.md
Labels: size/XS, documentation

#1012 docs(fgs): fix docs issues
  docs/resources/fgs_function.md
  docs/resources/fgs_trigger.md
Labels: size/S, documentation, LGTM

#1027 docs(smn/sms/swr): fix docs issues
  docs/data-sources/smn_topics.md
  docs/data-sources/sms_source_servers.md
  docs/resources/smn_topic_v2.md
  docs/resources/sms_task.md
  docs/resources/swr_organization.md
  docs/resources/swr_organization_users.md
  docs/resources/swr_repository.md
  docs/resources/swr_repository_sharing.md
  flexibleengine/acceptance/data_source_flexibleengine_smn_topics_test.go
  flexibleengine/acceptance/resource_flexibleengine_smn_topic_test.go
Labels: size/S, documentation

#1028 chore: mark MRS v1 resources as deprecated
  docs/resources/mrs_cluster_v1.md
  docs/resources/mrs_hybrid_cluster_v1.md
  docs/resources/mrs_job_v1.md
  flexibleengine/provider.go
  flexibleengine/resource_flexibleengine_mrs_cluster_v1.go
  flexibleengine/resource_flexibleengine_mrs_cluster_v1_test.go
  flexibleengine/resource_flexibleengine_mrs_hybrid_cluster_v1.go
  flexibleengine/resource_flexibleengine_mrs_hybrid_cluster_v1_test.go
  flexibleengine/resource_flexibleengine_mrs_job_v1.go
  flexibleengine/resource_flexibleengine_mrs_job_v1_test.go
Labels: size/S, chore

#1029 update CHANGELOG for v1.42.0
  CHANGELOG.md
Labels: size/XS
