Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2023-06, with the labels that each got.

#947 feat(ims): support share and acceptance resources
  docs/resources/images_image_share.md
  docs/resources/images_image_share_accepter.md
  flexibleengine/acceptance/acceptance.go
  flexibleengine/acceptance/resource_flexibleengine_images_image_copy_test.go
  flexibleengine/acceptance/resource_flexibleengine_images_image_share_accepter_test.go
  flexibleengine/acceptance/resource_flexibleengine_images_image_share_test.go
  flexibleengine/provider.go
  go.mod
  go.sum
Labels: dependencies, size/L, feature

#948 update CHANGELOG for v1.38.0
  CHANGELOG.md
Labels: size/XS

#949 chore(workflow): bump goreleaser-action to v4
  .github/workflows/ci.yaml
  .github/workflows/release.yml
Labels: size/XS, chore

#950 feat(cce): specify customSan for cce cluster
  docs/data-sources/cce_cluster_v3.md
  docs/resources/cce_cluster_v3.md
  flexibleengine/data_source_flexibleengine_cce_cluster_v3.go
  flexibleengine/resource_flexibleengine_cce_addon_v3.go
  flexibleengine/resource_flexibleengine_cce_cluster_v3.go
  go.mod
  go.sum
Labels: dependencies, size/S, feature, LGTM

#952 chore: no need to flush obs log
  main.go
Labels: size/XS, chore

#955 feat(cce) nodepool : set scall_enable as deprecated variable
  flexibleengine/resource_flexibleengine_cce_node_pool.go
Labels: size/XS, feature, LGTM

#954 feat(cce) Add kms_key_id on root_volume cce nodes/nodepool
  docs/resources/cce_node_pool_v3.md
  docs/resources/cce_node_v3.md
  flexibleengine/resource_flexibleengine_cce_node_pool.go
  flexibleengine/resource_flexibleengine_cce_node_v3.go
  flexibleengine/resource_flexibleengine_cce_node_v3_test.go
Labels: size/S, feature, LGTM
