Repository FlexibleEngineCloud/terraform-provider-flexibleengine, pull requests merged in 2024-01, with the labels that each got.

#1085 docs(cbr): add some fields for CBR
  docs/resources/cbr_policy.md
  flexibleengine/acceptance/resource_flexibleengine_cbr_policy_test.go
Labels: size/S, documentation, LGTM

#1086 chore: format provider.go
  flexibleengine/provider.go
Labels: size/L, chore

#1087 feat(ModelArts): add a data source to get the list of ModelArts model…
  docs/data-sources/modelarts_model_templates.md
  flexibleengine/acceptance/data_source_flexibleengine_modelarts_model_templates_test.go
  flexibleengine/provider.go
Labels: size/M, feature, LGTM
